{
  "openapi": "3.0.3",
  "info": {
    "title": "Swagger HeyDu Backend",
    "description": "This is Swagger specification of existing v1 HeyDu Backend APIs",
    "version": "1.0.0"
  },
  "externalDocs": {
    "description": "HeyDu Backend Github",
    "url": "https://github.com/heydu-dev/heydu-backend"
  },
  "servers": [
    {
      "url": "http://ec2-13-232-250-66.ap-south-1.compute.amazonaws.com:8080/api"
    },
    {
      "url": "http://localhost:8080/api/"
    }
  ],
  "tags": [
    {
      "name": "authentication",
      "description": "APIs about authentication and authorization"
    },
    {
      "name": "regions",
      "description": "APIs about regions"
    },
    {
      "name": "constants",
      "description": "APIs about Constants"
    },
    {
      "name": "profile",
      "description": "APIs about profile"
    },
    {
      "name": "profile",
      "description": "Operatioons about profile"
    },
    {
      "name": "post",
      "description": "Operatioons about post"
    },
    {
      "name": "interest",
      "description": " Operations about interest post"
    },
    {
      "name": "comment",
      "description": "Operatioons about comment"
    },
    {
      "name": "interest-comment",
      "description": "Operatioons about interest-comment"
    },
    {
      "name": "department",
      "description": "Operatioons about department"
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Register institution",
        "description": "Registers the institution",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "$ref": "#/components/schemas/Institution"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Institution"
                }
              }
            }
          },
          "404": {
            "description": "Email in use, please use different email"
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/auth/send-otp": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Sends the OTP to email",
        "description": "Provides OTP to the registered email",
        "operationId": "sendOtp",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/SendOTPRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "msg": "OTP sent successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendOTPResponse"
                }
              }
            }
          },
          "404": {
            "description": "User not found, please register before login"
          },
          "500": {
            "description": "Please try after sometime, something is wrong at OTP service"
          }
        }
      }
    },
    "/auth/validate-otp": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Validates OTP",
        "description": "Provides access token after successful authentication",
        "operationId": "validateOtp",
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/ValidateOTPRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateOTPResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  },
                  "otp": {
                    "value": {
                      "message": "\"otp\" is required"
                    }
                  },
                  "email": {
                    "value": {
                      "message": "\"email\" is required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Incorrect OTP sent"
          }
        }
      }
    },
    "/auth/logout": {
      "get": {
        "tags": [
          "authentication"
        ],
        "summary": "Logout",
        "description": "Logout",
        "operationId": "logout",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Logged out successfully"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/constant/degrees": {
      "get": {
        "tags": [
          "constants"
        ],
        "summary": "Get all degrees",
        "description": "Get all degrees",
        "operationId": "getDegrees",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Degree"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/IlligalRequest"
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      },
      "post": {
        "tags": [
          "constants"
        ],
        "summary": "Add new degree",
        "description": "Add new degree",
        "operationId": "DegreeRequest",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DegreeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Degree"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/schemas/IlligalRequest"
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/constant/degree/:id": {
      "put": {
        "tags": [
          "constants"
        ],
        "summary": "Update degree by id",
        "description": "Update degree by id",
        "operationId": "updateDegree",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Degree id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DegreeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Degree"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      },
      "delete": {
        "tags": [
          "constants"
        ],
        "summary": "Delete degree by id",
        "description": "Delete degree by id",
        "operationId": "deleteDegree",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Degree id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Degree"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/institution-types": {
      "get": {
        "tags": [
          "constants"
        ],
        "summary": "Get all institution types",
        "description": "Get all institution types",
        "operationId": "getInstitutionTypes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InstitutionType"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      },
      "post": {
        "tags": [
          "constants"
        ],
        "summary": "Add new institution type",
        "description": "Add new institution type",
        "operationId": "addInstitutionType",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstitutionType"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionType"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/institution-types/:id": {
      "put": {
        "tags": [
          "constants"
        ],
        "summary": "Update institution type by id",
        "description": "Update institution type by id",
        "operationId": "updateInstitutionType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Institution type id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InstitutionTypeUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionType"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      },
      "delete": {
        "tags": [
          "constants"
        ],
        "summary": "Delete institution type by id",
        "description": "Delete institution type by id",
        "operationId": "deleteInstitutionType",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Institution type id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InstitutionType"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/permissions": {
      "get": {
        "tags": [
          "constants"
        ],
        "summary": "Get all permissions",
        "description": "Get all permissions",
        "operationId": "getPermissions",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PermissonResponse"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/profile-types": {
      "get": {
        "tags": [
          "constants"
        ],
        "summary": "Get all profile types",
        "description": "Get all profile types",
        "operationId": "getProfileTypes",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProfileType"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/roles": {
      "get": {
        "tags": [
          "constants"
        ],
        "summary": "Get all roles",
        "description": "Get all roles",
        "operationId": "getRoles",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Role"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest": {
      "get": {
        "tags": [
          "constants"
        ],
        "summary": "Get all interests",
        "description": "Get all interests",
        "operationId": "getInterests",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Interest"
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      },
      "post": {
        "tags": [
          "constants"
        ],
        "summary": "Add new interest",
        "description": "Add new interest",
        "operationId": "addInterest",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/addInterest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Interest"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest/:id": {
      "put": {
        "tags": [
          "constants"
        ],
        "summary": "Update interest by id",
        "description": "Update interest by id",
        "operationId": "updateInterest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Interest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/updateInterest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Interest"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      },
      "delete": {
        "tags": [
          "constants"
        ],
        "summary": "Delete interest by id",
        "description": "Delete interest by id",
        "operationId": "deleteInterest",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Interest id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Interest"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/region/get-countries": {
      "get": {
        "tags": [
          "regions"
        ],
        "summary": "Get all countries",
        "description": "Get all countries",
        "operationId": "getCountries",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Country"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        },
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "dependencies": {
              "offset": [
                "limit"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "dependencies": {
              "limit": [
                "offset"
              ]
            }
          },
          {
            "name": "is_all",
            "in": "query",
            "description": "Flag to indicate whether to retrieve all items",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ]
      }
    },
    "/region/get-states": {
      "get": {
        "tags": [
          "regions"
        ],
        "summary": "Get all states",
        "description": "Get all states",
        "operationId": "getStates",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/State"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "\"country_code\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/region/get-visible-countries": {
      "get": {
        "tags": [
          "regions"
        ],
        "summary": "Get all visible countries",
        "description": "Get all visible countries",
        "operationId": "getVisibleCountries",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "dependencies": {
              "offset": [
                "limit"
              ]
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "dependencies": {
              "limit": [
                "offset"
              ]
            }
          },
          {
            "name": "is_all",
            "in": "query",
            "description": "Flag to indicate whether to retrieve all items",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer",
                      "format": "int32",
                      "example": "1"
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Country"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "\"country_code\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/region/update-country-visibility": {
      "put": {
        "tags": [
          "regions"
        ],
        "summary": "Update country visibility",
        "description": "Update country visibility",
        "operationId": "updateCountryVisibility",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCountryVisibilityRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Country visibility updated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "country_code": {
                    "value": {
                      "message": "\"country_code\" is required"
                    }
                  },
                  "show_country": {
                    "value": {
                      "message": "\"show_country\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/profile/add-student": {
      "post": {
        "tags": [
          "profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Add new student",
        "description": "Add new student",
        "operationId": "addStudent",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStudentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Student added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddStudentResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "name": {
                    "value": {
                      "message": "\"name\" is required"
                    }
                  },
                  "start_year": {
                    "value": {
                      "message": "\"start_year\" is required"
                    }
                  },
                  "final_year": {
                    "value": {
                      "message": "\"final_year\" is required"
                    }
                  },
                  "degree_id": {
                    "value": {
                      "message": "\"degree_id\" is required"
                    }
                  },
                  "department_id": {
                    "value": {
                      "message": "\"department_id\" is required"
                    }
                  },
                  "identification_number": {
                    "value": {
                      "message": "\"identification_number\" is required"
                    }
                  },
                  "email": {
                    "value": {
                      "message": "\"email\" is required"
                    }
                  },
                  "specialization_id": {
                    "value": {
                      "message": "\"specialization_id\" is required"
                    }
                  },
                  "institution_id": {
                    "value": {
                      "message": "\"institution_id\" is required"
                    }
                  },
                  "duplicate_email": {
                    "value": {
                      "message": "Email already in use"
                    }
                  },
                  "duplicate_identification_number": {
                    "value": {
                      "message": "Identification number must be unique"
                    }
                  },
                  "duplicate_phone": {
                    "value": {
                      "message": "Phone number must be unique"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/profile/add-students": {
      "post": {
        "tags": [
          "profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Add new students",
        "description": "Add new students",
        "operationId": "addStudents",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStudentsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Students added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddStudentsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "name": {
                    "value": {
                      "message": "\"name\" is required"
                    }
                  },
                  "start_year": {
                    "value": {
                      "message": "\"start_year\" is required"
                    }
                  },
                  "final_year": {
                    "value": {
                      "message": "\"final_year\" is required"
                    }
                  },
                  "degree_id": {
                    "value": {
                      "message": "\"degree_id\" is required"
                    }
                  },
                  "department_id": {
                    "value": {
                      "message": "\"department_id\" is required"
                    }
                  },
                  "identification_number": {
                    "value": {
                      "message": "\"identification_number\" is required"
                    }
                  },
                  "email": {
                    "value": {
                      "message": "\"email\" is required"
                    }
                  },
                  "specialization_id": {
                    "value": {
                      "message": "\"specialization_id\" is required"
                    }
                  },
                  "institution_id": {
                    "value": {
                      "message": "\"institution_id\" is required"
                    }
                  },
                  "duplicate_email": {
                    "value": {
                      "message": "Email already in use"
                    }
                  },
                  "duplicate_identification_number": {
                    "value": {
                      "message": "Identification number must be unique"
                    }
                  },
                  "duplicate_phone": {
                    "value": {
                      "message": "Phone number must be unique"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/profile/add-staff": {
      "post": {
        "tags": [
          "profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Add new staff",
        "description": "Add new staff",
        "operationId": "addStaff",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddStaffRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Staff added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddStaffResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "name": {
                    "value": {
                      "message": "\"name\" is required"
                    }
                  },
                  "phone": {
                    "value": {
                      "message": "\"phone\" is required"
                    }
                  },
                  "department_id": {
                    "value": {
                      "message": "\"department_id\" is required"
                    }
                  },
                  "email": {
                    "value": {
                      "message": "\"email\" is required"
                    }
                  },
                  "specialization_id": {
                    "value": {
                      "message": "\"specialization_id\" is required"
                    }
                  },
                  "designation": {
                    "value": {
                      "message": "\"designation\" is required"
                    }
                  },
                  "institution_id": {
                    "value": {
                      "message": "\"institution_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/profile/list-universities": {
      "get": {
        "tags": [
          "profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List universities",
        "description": "List universities",
        "operationId": "listUniversities",
        "responses": {
          "200": {
            "message": "Universities listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListUniversitiesResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/profile/list-staff": {
      "get": {
        "tags": [
          "profile"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "List staff",
        "description": "List staff",
        "operationId": "listStaff",
        "responses": {
          "200": {
            "message": "Staff listed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListStaffResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "profile/change-staff-role/:id": {
      "put":{
        "tags": [
          "profile"
        ],
         
      }
    },
    "/post/key-signed-urls": {
      "post": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get signed urls for post images",
        "description": "Get signed urls for post images",
        "operationId": "getSignedUrls",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/KeySignedUrlRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Signed urls generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeySignedUrlResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/add-post": {
      "post": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Add new post",
        "description": "Add new post",
        "operationId": "addPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Post added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/edit-post/:id": {
      "post": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Edit post",
        "description": "Edit post",
        "operationId": "editPost",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Degree id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Post edited successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid request"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/delete-post": {
      "delete": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete post",
        "description": "Delete post",
        "operationId": "deletePost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Post deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeletePostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid parameters or request body"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/get-post": {
      "get": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get post",
        "description": "Get post",
        "operationId": "getPost",
        "parameters": [
          {
            "name": "profile_email",
            "in": "query",
            "description": "profile email",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProfileEmail"
            }
          },
          {
            "name": "profile_type_id",
            "in": "query",
            "description": "profile type id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProfileTypeId"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "message": "Post fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  },
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  },
                  "offset": {
                    "value": {
                      "message": "\"offset\" is required"
                    }
                  },
                  "limit": {
                    "value": {
                      "message": "\"limit\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/get-post/:institutionId": {
      "get": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get post",
        "description": "Get post",
        "operationId": "getPost",
        "parameters": [
          {
            "name": "institutionId",
            "in": "path",
            "description": "institutionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_email",
            "in": "query",
            "description": "profile email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_type_id",
            "in": "query",
            "description": "profile type id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProfileTypeId"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "message": "Post fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  },
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  },
                  "offset": {
                    "value": {
                      "message": "\"offset\" is required"
                    }
                  },
                  "limit": {
                    "value": {
                      "message": "\"limit\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/like-comment-count/:postId": {
      "get": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get like and comment count",
        "description": "Get like and comment count",
        "operationId": "getLikeCommentCount",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "Post id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_email",
            "in": "query",
            "description": "profile email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_type_id",
            "in": "query",
            "description": "profile type id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProfileTypeId"
            }
          }
        ],
        "responses": {
          "200": {
            "message": "Like and comment count fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeCommentCountResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "postId": {
                    "value": {
                      "message": "\"postId\" is required"
                    }
                  },
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  },
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/like-post": {
      "put": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Like post",
        "description": "Like post",
        "operationId": "likePost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LikePostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Post liked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikePostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "postId": {
                    "value": {
                      "message": "\"postId\" is required"
                    }
                  },
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  },
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/dislike-post": {
      "delete": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Dislike post",
        "description": "Dislike post",
        "operationId": "dislikePost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DislikePostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DislikePostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "example": "\"postId\" is required"
                    }
                  }
                },
                "examples": {
                  "postId": {
                    "value": {
                      "message": "\"postId\" is required"
                    }
                  },
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  },
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/like-post/:postId": {
      "get": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get like post",
        "description": "Get like post",
        "operationId": "getLikePost",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "Post id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_email",
            "in": "query",
            "description": "profile email",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_type_id",
            "in": "query",
            "description": "profile type id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ProfileTypeId"
            }
          }
        ],
        "responses": {
          "200": {
            "message": "Like post fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLikePostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                },
                "examples": {
                  "postId": {
                    "value": {
                      "message": "\"postId\" is required"
                    }
                  },
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  },
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/unsave-post": {
      "delete": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Unsave post",
        "description": "Unsave post",
        "operationId": "unsavePost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnsavePostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnsavePostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/IlligalRequest"
                    }
                  }
                },
                "examples": {
                  "postId": {
                    "value": {
                      "message": "\"postId\" is required"
                    }
                  },
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  },
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/save-post": {
      "put": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Save post",
        "description": "Save post",
        "operationId": "savePost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavePostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SavePostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/IlligalRequest"
                    }
                  }
                },
                "examples": {
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  },
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      },
      "get": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get saved post",
        "description": "Get saved post",
        "operationId": "getSavedPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSavedPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Saved post fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSavedPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  },
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/pinned-post": {
      "put": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Pinned post",
        "description": "Pinned post",
        "operationId": "pinnedPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PinnedPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PinnedPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/IlligalRequest"
                    }
                  }
                },
                "examples": {
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "institution_id": {
                    "value": {
                      "message": "\"institution_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/unpinned-post": {
      "delete": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Unpinned post",
        "description": "Unpinned post",
        "operationId": "unpinnedPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UnpinnedPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnpinnedPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/IlligalRequest"
                    }
                  }
                },
                "examples": {
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "institution_id": {
                    "value": {
                      "message": "\"institution_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/post/pinned-post/:institutionId": {
      "get": {
        "tags": [
          "post"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get pinned post",
        "description": "Get pinned post",
        "operationId": "getPinnedPost",
        "parameters": [
          {
            "name": "institutionId",
            "in": "path",
            "description": "institutionId",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/InstitutionId"
            }
          }
        ],
        "responses": {
          "200": {
            "message": "Pinned post fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPinnedPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "institutionId": {
                    "value": {
                      "message": "\"institutionId\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest/key-signed-urls": {
      "post": {
        "tags": [
          "interest"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get signed urls for interest images",
        "description": "Get signed urls for interest images",
        "operationId": "interestGetSignedUrls",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterestKeySignedUrlsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Signed urls generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InterestKeySignedUrlsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "keys": {
                    "value": {
                      "message": "\"keys\" is required"
                    }
                  },
                  "key": {
                    "value": {
                      "message": "\"keys\" is required"
                    }
                  },
                  "interest-name": {
                    "value": {
                      "message": "\"interest-name\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest/add-interest-post": {
      "post": {
        "tags": [
          "interest"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Add new interest post",
        "description": "Add new interest post",
        "operationId": "addInterestPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddInterestPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Interest post added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddInterestPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "post_user_email": {
                    "value": {
                      "message": "\"post_user_email\" is required"
                    }
                  },
                  "media_ids": {
                    "value": {
                      "message": "\"media_ids\" is required"
                    }
                  },
                  "interest_id": {
                    "value": {
                      "message": "\"interest_id\" is required"
                    }
                  },
                  "institution_id": {
                    "value": {
                      "message": "\"institution_id\" is required"
                    }
                  },
                  "key": {
                    "value": {
                      "message": "\"key\" is required"
                    }
                  },
                  "rootFolder": {
                    "value": {
                      "message": "\"rootFolder\" is required"
                    }
                  },
                  "invalid_root_folder": {
                    "value": {
                      "message": "\"rootFolder\" is invalid. It must be [interests]"
                    }
                  },
                  "type": {
                    "value": {
                      "message": "\"type\" is required"
                    }
                  },
                  "subFolder": {
                    "value": {
                      "message": "\"subFolder\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest/delete-interest-post": {
      "delete": {
        "tags": [
          "interest"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete interest post",
        "description": "Delete interest post",
        "operationId": "deleteInterestPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteInterestPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Interest post deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteInterestPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "get-interest-post": {
      "get": {
        "tags": [
          "interest"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get interest post",
        "description": "Get interest post",
        "operationId": "getInterestPost",
        "parameters": [
          {
            "name": "interest_id",
            "in": "query",
            "description": "interest id",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of items to return",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of items to skip",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "message": "Interest post fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInterestPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "interest_id": {
                    "value": {
                      "message": "\"interest_id\" is required"
                    }
                  },
                  "limit": {
                    "value": {
                      "message": "\"limit\" is required"
                    }
                  },
                  "offset": {
                    "value": {
                      "message": "\"offset\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest/like-interest-post": {
      "put": {
        "tags": [
          "interest"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Like interest post",
        "description": "Like interest post",
        "operationId": "likeInterestPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LikeInterestPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Interest post liked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LikeInterestPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest/like-interest-post/:postId": {
      "get": {
        "tags": [
          "interest"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get like interest post",
        "description": "Get like interest post",
        "operationId": "getLikeInterestPost",
        "parameters": [
          {
            "name": "postId",
            "in": "path",
            "description": "Post id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profile_email",
            "in": "query",
            "description": "profile email",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "message": "Like interest post fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLikeInterestPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "example": "\"postId\" is required"
                    }
                  }
                },
                "examples": {
                  "postId": {
                    "value": {
                      "message": "\"postId\" is required"
                    }
                  },
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "interest/save-interest-post": {
      "put": {
        "tags": [
          "interest"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Save interest post",
        "description": "Save interest post",
        "operationId": "saveInterestPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveInterestPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Interest post saved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SaveInterestPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      },
      "get": {
        "tags": [
          "interest"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get saved interest post",
        "description": "Get saved interest post",
        "operationId": "getSavedInterestPost",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSavedInterestPostRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Saved interest post fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSavedInterestPostResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/comment/add-comment": {
      "post": {
        "tags": [
          "comment"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Add new comment",
        "description": "Add new comment",
        "operationId": "addComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Comment added successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddCommentResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Invalid request"
                    }
                  }
                },
                "examples": {
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "description": {
                    "value": {
                      "message": "\"description\" is required"
                    }
                  },
                  "commenting_profile_email": {
                    "value": {
                      "message": "\"commenting_profile_email\" is required"
                    }
                  },
                  "commenting_profile_type_id": {
                    "value": {
                      "message": "\"commenting_profile_type_id\" is required"
                    }
                  },
                  "commenting_profile_role_id": {
                    "value": {
                      "message": "\"commenting_profile_role_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/comment/delete-comment": {
      "delete": {
        "tags": [
          "comment"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete comment",
        "description": "Delete comment",
        "operationId": "deleteComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Comment deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCommentResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "id": {
                    "value": {
                      "message": "\"id\" is required"
                    }
                  },
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "commenting_profile_email": {
                    "value": {
                      "message": "\"commenting_profile_email\" is required"
                    }
                  },
                  "commenting_profile_type_id": {
                    "value": {
                      "message": "\"commenting_profile_type_id\" is required"
                    }
                  },
                  "commenting_profile_role_id": {
                    "value": {
                      "message": "\"commenting_profile_role_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/comment/edit-comment": {
      "put": {
        "tags": [
          "comment"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Edit comment",
        "description": "Edit comment",
        "operationId": "editComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Comment edited successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditCommentResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "id": {
                    "value": {
                      "message": "\"id\" is required"
                    }
                  },
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "description": {
                    "value": {
                      "message": "\"description\" is required"
                    }
                  },
                  "profile_email": {
                    "value": {
                      "message": "\"profile_email\" is required"
                    }
                  },
                  "profile_type_id": {
                    "value": {
                      "message": "\"profile_type_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/comment/get-comments": {
      "get": {
        "tags": [
          "comment"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get comments",
        "description": "Get comments",
        "operationId": "getComments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCommentsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommentsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "offset": {
                    "value": {
                      "message": "\"offset\" is required"
                    }
                  },
                  "limit": {
                    "value": {
                      "message": "\"limit\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest-comment/add-interest-comment": {
      "post": {
        "tags": [
          "interest-comment"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Add interest comment",
        "description": "Add interest comment",
        "operationId": "addInterestComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddInterestCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddInterestCommentResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "commenting_profile_email": {
                    "value": {
                      "message": "\"commenting_profile_email\" is required"
                    }
                  },
                  "description": {
                    "value": {
                      "message": "\"description\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest-comment/delete-interest-comment": {
      "delete": {
        "tags": [
          "interest-comment"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Delete interest comment",
        "description": "Delete interest comment",
        "operationId": "deleteInterestComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteInterestCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Interest comment deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteInterestCommentResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "id": {
                    "value": {
                      "message": "\"id\" is required"
                    }
                  },
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest-comment/edit-interest-comment": {
      "put": {
        "tags": [
          "interest-comment"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Edit interest comment",
        "description": "Edit interest comment",
        "operationId": "editInterestComment",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditInterestCommentRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Interest comment edited successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditInterestCommentResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "id": {
                    "value": {
                      "message": "\"id\" is required"
                    }
                  },
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "description": {
                    "value": {
                      "message": "\"description\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    },
    "/interest-comment/get-interest-comments": {
      "get": {
        "tags": [
          "interest-comment"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "summary": "Get interest comments",
        "description": "Get interest comments",
        "operationId": "getInterestComments",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInterestCommentsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "message": "Interest comments fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInterestCommentsResponse"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IlligalRequest"
                },
                "examples": {
                  "post_id": {
                    "value": {
                      "message": "\"post_id\" is required"
                    }
                  },
                  "offset": {
                    "value": {
                      "message": "\"offset\" is required"
                    }
                  },
                  "limit": {
                    "value": {
                      "message": "\"limit\" is required"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/schemas/500Response"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Post": {
        "type": "object",
        "properties": {
          "id": {
            "$ref": "#/components/schemas/PostId"
          },
          "media_ids": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetPostMediaIdResponse"
            }
          },
          "description": {
            "$ref": "#/components/schemas/PostDescription"
          },
          "circle_type": {
            "$ref": "#/components/schemas/CircleType"
          },
          "post_user_type_id": {
            "$ref": "#/components/schemas/PostUserTypeID"
          },
          "post_user_email": {
            "$ref": "#/components/schemas/Email"
          },
          "post_user_role_id": {
            "$ref": "#/components/schemas/PostUserRoleID"
          },
          "institution_id": {
            "$ref": "#/components/schemas/InstitutionId"
          },
          "updatedAt": {
            "$ref": "#/components/schemas/UpdatedAt"
          },
          "createdAt": {
            "$ref": "#/components/schemas/CreatedAt"
          }
        }
      },
      "UpdatedAt": {
        "type": "string",
        "format": "date-time"
      },
      "CreatedAt": {
        "type": "string",
        "format": "date-time"
      },
      "PostDescription": {
        "type": "string",
        "example": "This is a sample post",
        "maxLength": 300
      },
      "PostId": {
        "type": "integer",
        "format": "int32"
      },
      "InstitutionId": {
        "type": "integer",
        "format": "int32",
        "description": "Institution ID"
      },
      "CircleType": {
        "type": "string",
        "enum": [
          "my_college",
          "followers",
          "everyone"
        ],
        "description": "Circle type"
      },
      "Email": {
        "type": "string",
        "format": "email"
      },
      "PostUserRoleID": {
        "type": "integer",
        "format": "int32",
        "enum": [
          0,
          1,
          2,
          3
        ],
        "description": "Post user role ID"
      },
      "PostUserTypeID": {
        "type": "integer",
        "format": "int32",
        "enum": [
          0,
          1,
          2,
[...]
